doctype html
html
  head
    title Opensource Software-Driven Contracts - Legalese
    meta(charset='utf-8')
    meta(name='description', content='Legalese: the legal screwdriver which gets you funded, for ?free.')
    meta(name='keywords', content='Legalese, DSL, Haskell, Prolog, automated, legal, contracts, funding, startups, opensource, workflows')
    link(href='stylesheets/bootstrap-3.3.6-dist/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='screen')
    link(href='stylesheets/stylesheet.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://fonts.googleapis.com/css?family=Alegreya:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Helvetica+Neue', rel='stylesheet', type='text/css')
  .container-fluid.navbarheight
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header
        a.navbar-brand(href='https://www.legalese.com')
          img(src='images/4754333611_1c482385109d1a414322_132.jpg', ,='', alt='Logo')
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li.dropdown
            a.dropdown-toggle(href='tutorials.html', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Tutorials
              span.caret
            ul.dropdown-menu
              li
                a(href='tutorials.html#t1') the EULA
              li
                a(href='tutorials.html#t2') Hello, World!
              li
                a(href='tutorials.html#t3') Send for Signature!
              li
                a(href='tutorials.html#t4') A Real Nondisclosure Agreement
              li
                a(href='tutorials.html#t5') What Docsets Are Available?
              li
                a(href='tutorials.html#t6') Generating Multiple Documents &ndash; Incorporation
              li
                a(href='tutorials.html#t7') Developing Your Own Templates
          li
            a(href='turing.html') Turing-Complete Contracts
  body
    #splash.container-fluid.text-center
      .middle-div
        .row
          .col-md-3.col-md-offset-3.text-right
            h1 Legalese is:
          #d3items.col-md-3.text-left
        .row
          p
            a.btn.btn-default.btn-lg(href='https://docs.google.com/spreadsheets/d/1rBuKOWSqRE7QgKgF6uVWR9www4LoLho4UjOCHPQplhw/copy?id=1rBuKOWSqRE7QgKgF6uVWR9www4LoLho4UjOCHPQplhw&copyCollaborators=false&copyComments=false&title=My%20Legalese%20Tutorial%202&usp=sheets_web', target='_blank') Get Started
    .container-fluid
      .middle-div
        .row
          .col-md-6.col-md-offset-3.text-justify
            h2.text-center Software is eating law.
            p
              | &quot;These are really smart people,&rdquo; said one lawyer who works with startups. &ldquo;They believe in world-domination of the engineering class; everything can be reduced to an algorithm, and legal documents 
              strong are not going to be spared.
              | &quot;
            p
              | As of April 2016, Legalese&apos;s version 1 soft beta has supported over $1M in deal volume. We are now working on developing a more user-friendly v2. To be notified of progress announcements and get free tech support, 
              a(target='_blank', href='https://groups.google.com/a/legalese.io/forum/#!forum/users') join our web forum.
              |  You can unsubscribe at any time.
            p
              | As an opensource project, Legalese welcomes contributions from developers, domain experts, and entrepreneurial engineers. Please start at the 
              a(href='https://github.com/legalese-io/legalese-io.github.io/wiki') Wiki
              | .
            h2.text-center The Vision
            p
              | These articles survey the LegalTech space and point to the long-term vision of Legalese:
            ul
              li
                a(href='http://www.ft.com/cms/s/0/c3a9347e-fdb4-11e5-b5f5-070dca6d0a0d.html#axzz45iKAu8vS')
                  i Breaking The Law
                  |  -- Financial Times, Michael Skapinker, April 11, 2016.
              li
                a(href='https://medium.com/@ConsenSys/what-if-we-developed-legal-contracts-like-we-developed-software-applications-1b5bc8fbb915#.uoiiqx9ku') What if we developed legal contracts like we developed software applications?
                |  -- Guest post by Joe Dewey, April 6, 2016.
              li
                a(href='http://www.lawtechnologytoday.org/2014/12/smart-startups/') Bessemer reviews their LegalTech portfolio
                |  December 16, 2014.
              li
                a(href='http://www.coindesk.com/barclays-smart-contracts-templates-demo-r3-corda/') Coindesk describes Barclay&apos;s work with Corda
                |  and links to some slides about 
                a(href='https://www.scribd.com/doc/310534422/Smart-Contract-Templates-1') Smart Contract Templates
                | .
              li
                a(href='http://www.uclalawreview.org/four-futures-legal-automation/') Four Futures of Legal Automation
                | , UCLA Law Review.
    .container-fluid.text-center
      .row
        .col-md-6.col-md-offset-3
          h2.text-center Prior Art
      .row.rowbuffer
        .col-md-6.col-md-offset-3.text-left
          #accordion.panel-group(role='tablist', aria-multiselectable='true')
            .panel.panel-default
              #headingOne.panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='trye', aria-controls='collapseOne') Law Online
              #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                .panel-body
                  p
                    b Early Stage Investment Templates for Startups
                  ul.list-inline
                    li
                      a(href='http://www.ycombinator.com/documents/') Y Combinator
                      |  has both Series AA and SAFE instruments in four flavours
                    li
                      a(href='http://www.techstars.com/docs/') Techstars
                      |  has both equity and debt instruments
                    li
                      a(href='http://www.500.co/kiss') 500 Startups
                      |  offers the KISS
                    li
                      a(href='http://www.seriesseed.com/') Series Seed
                      |  (also for 
                      a(href='http://www.seriesseed.fi/') Finland
                      |  and 
                      a(href='http://seriesseed.in/') India
                      | )
                    li
                      a(href='http://seedsummit.org/legal-docs/') SeedSummit for Europe, by SeedCamp
                    li
                      a(href='http://shockwaveinnovations.com/2013/12/21/reviewing-the-new-safe-investment-instrument/') Comparative reviews
                      | .
                    li
                      a(href='http://www.contractual.ly/') Contractual.ly
                  p.nobold
                    | Legalese is importing all of these agreements. After you configure your deal in a spreadsheet 
                    i once
                    | , Legalese will compile 
                    i all
                    |  the agreements you need, automatically translated for your jurisdiction.
                  p#startup_workflows
                    b Workflow Solutions for Startups
                  ul.list-inline
                    li
                      a(href='https://stripe.com/atlas') Stripe Atlas
                      |  (Delaware)
                    li
                      a(href='https://www.flashfunders.com/') FlashFunders
                      |  is an equity crowdfunding platform with a ton of augmentations, 
                      a(href='http://techcrunch.com/2015/05/11/equity-crowdfunding-platform-flashfunders-is-automating-securities-law-for-seed-stage-rounds/#.umyjoj:J2Lt') according to Techcrunch
                    li
                      a(href='https://www.ironcladapp.com/') Ironclad
                      |  automates a range of startup-friendly legal templates, with Dropbox and HelloSign integration (for values of &quot;startup&quot; that mean &quot;Delaware corporations operating in California&quot;)
                    li
                      a(href='http://valcu.co/') Valcu
                      |  offers document automation and some scripting
                    li
                      a(href='http://hellobonsai.com/') Bonsai
                      |  helps freelancers get paid
                    li
                      a(href='http://captable.io/') Captable.io
                    li
                      a(href='https://www.esharesinc.com/') eShares
                    li
                      a(href='http://termsheet.io/') Termsheet.io
                      |  (India &amp; US)
                    li
                      a(href='https://www.clerky.com/') Clerky
                      |  (Delaware)
                    li
                      a(href='http://dragonlaw.com.hk/') DragonLaw
                      |  (Hong Kong and Singapore)
                    li
                      a(href='http://patentory.com/') Patentory
                    li
                      a(href='http://www.concordnow.com/') Concord
                      |  is end-to-end
                    li
                      a(href='https://www.startupdocuments.com/') StartupDocuments
                      |  is affiliated with 
                      a(href='http://bedrocksf.com/') Bedrock
                  p#template_libraries
                    b Template Libraries for Startups
                  ul.list-inline
                    li
                      a(href='https://www.documents-taylorwessing.com/') Taylor Wessing&apos;s Documents
                      |  (UK)
                    li
                      a(href='http://www.bvca.co.uk/ResearchPublications/Publications/StandardIndustryDocuments/Modeldocumentsforearlystageinvestments.aspx') BVCA
                      |  (UK)
                    li
                      a(href='https://www.orrick.com/practices/corporate/emergingCompanies/startup/forms_index.asp') Orrick&apos;s Start-Up Forms Library
                      |  and 
                      a(href='https://tsc.orrick.com/') term sheets
                    li
                      a(href='http://legal.cf.sg/') Legal.CF.SG
                    li
                      a(href='http://www.lawcanvas.com/') LawCanvas &ndash; Easy Legal Documents for Singapore
                    li
                      a(href='http://simmondsstewart.com/templates/') Simmonds Stewart
                      |  for New Zealanders
                    li
                      a(href='http://www.forbes.com/sites/chancebarnett/2014/05/30/the-entrepreneurs-guide-to-term-sheets-and-equity-crowdfunding/') The Entrepreneur&apos;s Guide to Term Sheets and Equity Crowdfunding
                    li
                      a(href='http://www.legalzebra.com.au/legal-forms/shareholders-agreement-template/') LegalZebra
                      |  (for Australia)
                    li
                      a(href='http://www.avcal.com.au/resources/open-source-seed-financing-documents') AVCAL
                      |  (for Australia)
                  p
                    b Generic Template Libraries and Legal Marketplaces
                  ul.list-inline
                    li
                      a(href='http://legalzoom.com/') LegalZoom
                    li
                      a(href='http://www.rocketlawyer.com/') RocketLawyer
                    li
                      a(href='http://www.avvo.com/') Avvo
                    li
                      a(href='http://123.ai/') 123.AI
                    li
                      a(href='https://www.asialawnetwork.com/') Asia Law Network
                      |  (for Singapore)
                    li
                      a(href='https://www.lawdingo.com/') LawDingo
                    li
                      a(href='https://www.upcounsel.com/') UpCounsel
                    li
                      a(href='https://www.priorilegal.com/') Priori Legal
                    li
                      a(href='http://lawtrades.com/') Lawtrades
                    li
                      a(href='https://www.lexoo.co.uk/') Lexoo
                    li
                      a(href='https://lawkick.com/') LawKick
                    li
                      a(href='http://www.docracy.com/') Docracy
                    li
                      a(href='http://onecle.com/') Onecle
                    li
                      a(href='https://www.ilrg.com/forms') ILRG Legal Forms Archive
                    li
                      a(href='http://www.lawdepot.com/') LawDepot
                    li
                      a(href='http://techcrunch.com/2015/09/03/goodbye-docstoc/') DocStoc died
                    li
                      a(href='http://www.lawcanvas.com/') LawCanvas
                      |  (for Singapore)
                    li
                      a(href='https://foundersuite.com/') FounderSuite
                    li
                      a(href='https://www.fairdocument.com/how-it-works/index.html') Fair Document
                    li
                      a(href='http://www.ndasforfree.com/') NDAs for Free
                    li
                      a(href='https://www.lawgives.com/') LawGives
                    li
                      a(href='https://angel.co/wirelawyer') WireLawyer
                    li
                      a(href='http://www.lawpolis.com/') Lawpolis
                    li
                      a(href='http://www.adamsdrafting.com/downloads/Copyright-NYLJ-8.23.06.pdf') Adams, Kenneth. Copyright and the Contract Drafter. New York Law Journal, 2006
                      |  asks: are contracts copyrightable?
                  p
                    b Education for Startups
                  ul.list-inline
                    li
                      a(href='http://quibb.com/links/how-startups-burn-money-on-lawyers/view') How Startups Burn Money on Lawyers
                    li
                      a(href='http://www.quora.com/When-founding-a-startup-is-it-worth-immediately-investing-in-a-lawyer-or-can-you-get-by-with-pre-made-documents-from-the-likes-of-LawBite-and-similar-for-the-first-few-months')
                        | When founding a startup is it worth immediately investing in a lawyer, or can you get by with pre-made documents?
                      |  on Quora.
                    li
                      a(href='http://heidiroizen.tumblr.com/post/118473647305/how-to-build-a-unicorn-from-scratch-and-walk') Walkthrough
                    li
                      a(href='http://www.docracy.com/topic/5snzara7ks/term-sheet-guide-book?startPdfDownload=false') Docracy&apos;s guide to Term Sheets
                    li
                      a(href='http://www.feld.com/archives/2005/08/term-sheet-series-wrap-up.html') Brad Feld&apos;s Term Sheet Blog Series
                      | , now available as a book, 
                      i
                        a(href='http://www.amazon.com/Venture-Deals-Smarter-Lawyer-Capitalist-ebook/dp/B00AO2PWOI/') Venture Deals
                    li
                      a(href='http://www.amazon.com/Deal-Terms-Venture-Structures-Valuations/dp/1587622084/') Deal Terms, by Wilmerding
                    li
                      a(href='http://www.marsdd.com/mars-library/angel-or-seed-investing-angel-term-sheets-for-startups/') Angel or seed investing: Angel term sheets for startups
                      | , from the MaRS Library
                    li
                      a(href='http://www.paulgraham.com/hiresfund.html') Paul Graham on High Resolution Fundraising
                    li
                      a(href='http://www.bothsidesofthetable.com/2012/09/05/the-truth-about-convertible-debt-at-startups-and-the-hidden-terms-you-didnt-understand/')
                        | The Truth About Convertible Debt at Startups and The Hidden Terms You Didn&rsquo;t Understand
                    li
                      a(href='http://www.bothsidesofthetable.com/2014/09/17/bad-notes-on-venture-capital/') Mark Suster&apos;s Bad Notes on Venture Capital
                    li
                      a(href='http://www.startupcompanylawyer.com/') StartupCompanyLawyer
                    li
                      a(href='http://www.liveplan.com/') LivePlan
                      |  helps you with forecasts
                    li
                      a(href='https://www.wrike.com/blog/ultimate-list-legal-resources-startups/') The Ultimate List of Legal Resources for Startups
                  p
                    b Cap Tables
                  ul.list-inline
                    li
                      a(href='http://www.quora.com/What-is-the-best-cap-table-template-available-online') See also Quora
                    li
                      a(href='http://venturehacks.com/articles/cap-table') VentureHacks
                    li
                      a(href='http://www.askthevc.com/wp/archives/tag/cap-table') AskTheVC
                    li
                      a(href='http://captable.io/') Captable.io
                    li
                      a(href='http://reportally.com/') Reportally.com
                    li
                      a(href='https://www.capshare.com/') Capshare.com
                    li
                      a(href='https://www.nasdaqprivatemarket.com/exactequity/?from=ee') ExactEquity
                    li
                      a(href='https://esharesinc.zendesk.com/hc/en-us/articles/203979799-Pro-Forma-Round-Modeling-Spreadsheet') eShares round modeling
                  p
                    b Other Tools for Startups and Investors
                  ul.list-inline
                    li
                      a(href='http://www.valuative.com/') Valuative
                      |  capital structure modeling and visualization
                    li
                      a(href='http://www.handshakes.com.sg/') Handshakes
                      |  maps out all relationships between companies and persons
                    li
                      a(href='https://vcexperts.com/') VCExperts
                      |  offers due diligence and other tools
                    li
                      a(href='http://www.justinvesting.com/home/products/') JustInvesting
                      |  moves investing online
                    li
                      a(href='http://visible.vc/') Visible.VC
                      |  offers a 
                      a(href='https://visible.vc/blog/tech-investing-software-stack/') Tech Investing Software Stack
                    li
                      a(href='http://www.docdep.com/') DocDep
                      |  takes you from investment to divestment
                  p
                    b Document Generators by Law Firms
                  ul.list-inline
                    li
                      a(href='http://www.cooleygo.com/documents/index-document-generators') CooleyGo
                    li
                      a(href='https://www.wsgr.com/WSGR/Display.aspx?SectionName=practice/termsheet.htm') Wilson Sonsini&apos;s Termsheet Generator
                    li
                      a(href='http://launch.wilmerhale.com/build/document-generator/') Wilmerhale
                    li
                      a(href='http://www.foundersworkbench.com/document-driver/') Founders Workbench
                    li
                      a(href='https://tsc.orrick.com/') Orrick&apos;s Term Sheet Creator
                    li
                      a(href='http://ebrevia.com/') eBrevia
                    li
                      a(href='https://kirasystems.com/') DiligenceEngine
                    li
                      a(href='https://venturedocs.com/') VentureDocs
                    li
                      a(href='http://www.vanillalaw.com.sg/') Vanilla Law
                      |  by MG/Chambers 
                      a(href='http://www.straitstimes.com/business/companies-markets/software-designed-to-help-smes-with-legal-documents') (news article)
                  p
                    b Document Generators and More by Non-Law Firms
                  ul.list-inline
                    li
                      a(href='http://www.neotalogic.com/') Neota Logic
                      |  has an expert system.
                    li
                      a(href='http://www.mintchalk.com/') Mintchalk
                      |  is a web IDE for smart contracts
                    li
                      a(href='https://www.rocketlawyer.com/legal-documents-forms.rl') RocketLawyer
                    li
                      a(href='http://www.shakelaw.com/') Shake
                    li
                      a(href='http://contractstandards.com/') Contract Standards
                    li
                      a(href='http://clausehound.com/') Clausehound
                    li
                      a(href='http://www.ultradox.com/') UltraDox
                      |  converts Google Docs to Microsoft Word
                    li
                      a(href='http://www.weagree.com/') WeAgree
                    li
                      a(href='http://www.legalcontract.com/') LegalContract
                      |  has good decent wizards covering the US
                    li
                      a(href='https://termsfeed.com/') TermsFeed
                      |  generates EULAs, privacy policies, and more.
                    li
                      a(href='http://kmstandards.com/') KM Standards (Kingsley Martin)
                      |  reads and writes contracts. See 
                      a(href='https://www.youtube.com/watch?v=KBI8_tv2VDM&feature=youtu.be&t=11m15s') his 2013 FutureLaw talk
                      | .
                  p
                    b Document Assembly for Law Firms and In-House Counsel
                  ul.list-inline
                    li
                      a(href='http://www.hotdocs.com/') HotDocs
                    li
                      a(href='http://www.business-integrity.com/') ContractExpress by Business Integrity
                    li
                      a(href='http://www.exari.com/') Exari
                    li
                      a(href='https://caserails.com/') CaseRails
                    li
                      a(href='http://docassemble.org/') DocAssemble
                      |  is opensource (YAML and Python) and allows domain experts to build what 
                      a(href='https://cgi.csc.liv.ac.uk/~tbc/publications/deepModels.pdf') TBC would call
                      |  a shallow-model expert system wizard.
                  p
                    b Open Clause Libraries
                  ul.list-inline
                    li Every law firm has proprietary precedents, of course. These are open
                    li
                      a(href='http://contractstandards.com/') Contract Standards
                    li
                      a(href='http://lawpatch.org/') LawPatch
                    li
                      a(href='http://www.commonaccord.org/') CommonAccord
                    li
                      | See also 
                      a(href='turing.html#priorart') Turing Prior Art
                  p
                    b Other Legal Startups
                  ul.list-inline
                    li
                      a(href='https://www.techinasia.com/fiscalnote-legal-tech-asia-expansion') FiscalNote
                      | , Tim Hwang&apos;s startup, has raised $20M
                    li
                      a(href='http://www.complyglobal.com/') ComplyGlobal
                      |  helps big business cover their many widely dispersed asses.
                    li
                      a(href='http://legalscience.io/') Legal Science
                      |  tracks current law across 50 states.
                    li
                      a(href='http://www.legaltechlabs.com/portfolio/') LegalTechLabs
                      |  has a portfolio of startups
                    li
                      a(href='http://www.synergist.io/') Synergist
                      |  is a platform for online negotiation
                    li
                      a(href='https://parleypro.com/') Parley Pro
                      |  negotiate better contracts faster
                    li
                      a(href='http://www.businessinsider.com/joshua-browder-bot-for-parking-tickets-2016-2?IR=T&op=1&utm_content=bufferd4151&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer?r=US&IR=T') Joshua Browder&apos;s bot
                      |  gets you out of parking tickets
                    li
                      a(href='https://hirepeter.com/') Peter
                      |  does for legal what 
                      a(href='http://claralabs.com/') Clara
                      |  does for appointments.
                    li
                      a(href='http://www.axiomlaw.com/') Axiom
                      |  is positioning initially as an outsourcing option for in-house counsel. See 
                      a(href='http://lawprofessors.typepad.com/legalwhiteboard/2013/11/is-axiom-the-bellwether-for-disruption-in-the-legal-industry-look-what-is-happening-in-houston.html') coverage
                    li
                      a(href='http://www.judicata.com/') Judicata
                    li
                      a(href='http://www.lexmachina.com/') Lex Machina
                      |  groks patent law
                    li
                      a(href='http://www.elementaryip.com/') elementaryIP
                      |  groks patent law
                    li
                      a(href='http://www.lawgeex.com/') LawGeex
                      |  reads contracts
                    li
                      a(href='https://kirasystems.com/') Kira
                      |  reads contracts
                    li
                      a(href='http://techcrunch.com/2015/08/14/jeugene-detects-errors-in-legal-documents-saving-time-and-money/?ncid=rss&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Techcrunch+%28TechCrunch%29&sr_share=twitter') jEugene
                      |  reads contracts
                    li
                      a(href='http://counselytics.com/') Counselytics
                      |  reads contracts
                    li
                      a(href='https://legalrobot.com/') LegalRobot
                      |  reads contracts
                    li
                      a(href='http://litiq.com/') LitIQ drafts contracts
                    li
                      a(href='https://www.vizlegal.com/') VizLegal
                      |  for legal research
                    li
                      a(href='http://logikcull.com/') Logikcull
                      |  does e-discovery
                    li
                      a(href='http://everlaw.com/') Everlaw
                      |  also does e-discovery
                    li
                      a(href='http://hlpintegration.com/?doing_wp_cron=1455722411.7378211021423339843750') HLP Integration
                    li
                      a(href='https://www.rsvplaw.com/') RSVPlaw
                    li
                      | See also 
                      a(href='http://www.inc.com/drew-hendricks/the-4-startups-changing-the-legal-landscape.html') Inc.com on 4 Startups changing the Legal Landscape
                    li
                      a(href='https://www.ramendocs.com/') RamenDocs
                    li
                      a(href='http://www.allegorylaw.com/#allegory') Allegory Law
                    li
                      a(href='https://www.ravellaw.com/') Ravel Law
                    li
                      a(href='https://angel.co/haystackhq') Haystack HQ
                    li
                      a(href='https://www.cicayda.com/') Cicayda
                    li
                      a(href='http://www.lexbe.com/') Lexbe
                    li
                      a(href='http://www.modria.com/') Modria
                    li
                      a(href='https://www.linkedin.com/company/waytosettle') WayToSettle
                    li
                      a(href='https://www.linkedin.com/company/zipcourt') ZipCourt
                    li
                      a(href='https://juristat.com/') Juristat
                    li
                      a(href='http://ipstreet.com/') IPStreet
                    li
                      a(href='https://www.goclio.com/') Clio
                    li
                      a(href='http://www.mycase.com/') MyCase
                    li
                      a(href='https://www.cosmolex.com/') CosmoLex
                    li
                      a(href='http://www.lawyerfy.com/') Lawyerfy
                    li
                      a(href='http://www.firmzen.com/') Firmzen
                    li
                      a(href='http://www.legify.com/') Legify
                    li
                      a(href='http://lawful.ly/') Lawful.ly
                    li
                      a(href='http://www.simplelegal.com/') SimpleLegal
                    li
                      a(href='https://www.viewabill.com/pages/home') Viewabill
                    li
                      a(href='http://www.lawhackers.co/') Law Hackers
                      |  for a curated list of legal startups
                  p
                    b About the #LegalTech startup scene generally
                  ul.list-inline
                    li
                      a(href='http://techcrunch.com/2014/08/05/the-jury-is-out-on-legal-startups/') The Jury Is Out On Legal Startups, Aug 5, 2014
                    li
                      | Ambrogi&apos;s 
                      a(href='http://www.lawsitesblog.com/2016/04/number-legal-startups-nearly-triples-two-years.html') Number of Legal Startups Nearly Triples in Two Years (April 13, 2016)
                      |  attracts rebuttal 
                      a(href='http://associatesmind.com/2016/04/20/not-explosion-legaltech/') There is NOT An Explosion In LegalTech
                  p
                    b Legal Research
                  ul.list-inline
                    li
                      a(href='http://leiterlawschool.typepad.com/leiter/2015/12/promotional-feature-makeover-for-statutory-supplements-is-long-overdue-michael-simkovic.html#') LawEdge
                    li
                      a(href='http://www.global-regulation.com/search.php?open') Global-Regulation
                    li
                      a(href='https://www.justia.com/') Justia
                    li
                      a(href='https://www.fastcase.com/') FastCase
                    li
                      a(href='https://casetext.com/') CaseText
                    li
                      a(href='https://pushlegal.com/') PushLegal
                    li
                      a(href='https://www.docketalarm.com/') Docket Alarm
                    li
                      a(href='http://www.acadmx.com/') Academx
                      |  helps lawyers write
                    li
                      a(href='https://www.mylegalwhiz.com/') MyLegalWhiz
                      | , 
                      a(href='https://www.intelllex.com/users/sign_up') Intelllex
                      |  and 
                      a(href='http://www.rossintelligence.com/') Ross Intelligence
                      |  help lawyers do research
                    li
                      a(href='http://www.bluejlegal.com/') Blue J Legal
                      |  helps lawyers research tax law
                  p
                    b Github Repository
                  ul.list-inline
                    li
                      a(href='https://ironsides.github.io/') Ironsides
                      |  open legal operating system for start-up companies
                    li
                      a(href='https://github.com/commonform/commonform-orrick') Common Form
                      |  on Orrick&apos;s templates
                    li
                      a(href='https://github.com/seriesnext/seriesnext') Seriesnext
                      |  a community revision of the Series Seed financing documents
            .panel.panel-default
              #headingTwo.panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='trye', aria-controls='collapseTwo') Academic Research and Development
              #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                  ul.list-inline
                    li
                      a(href='http://www.cocounsel.co/') CO/COUNSEL
                    li
                      a(href='http://www.plainsite.org/') PlainSite
                    li
                      a(href='http://complaw.stanford.edu/') Stanford Computational Law
                    li
                      a(href='http://codex.stanford.edu/projects/') Stanford&apos;s Codex Center for Legal Informatics
                      |  produces 
                      a(href='http://www.legalproductivity.com/technology/codex-legal-tech-startups/') a crop of startups every year
                    li
                      a(href='http://www.effacts.com/blog/the-stanford-computable-contracts-initiative') Stanford&apos;s Computable Contracts Initiative
                    li
                      a(href='https://legalinformatics.wordpress.com/legal-informatics-research-network-google-group/') Legal Informatics Research Network
                    li
                      a(href='http://www.commonaccord.org/') CommonAccord
                    li
                      a(href='http://lexpert.com/en/documents/Haapio-Next_Generation_Contracts.pdf') Next Generation Contracts
                      |  by Helena Haapio
                    li
                      a(href='http://szabo.best.vwh.net/contractlanguage.html') Nick Szabo on formal languages
                    li
                      a(href='http://lawreview.law.ucdavis.edu/issues/46/2/Articles/46-2_Surden.pdf') Surden on Computable Contracts
                    li
                      a(href='http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2538224') Floyd &amp; Goodenough, Contracts as Automata
                    li
                      a(href='https://twitter.com/richardsusskind') Richard Susskind
                      | , author of 
                      a(href='http://www.amazon.com/Tomorrows-Lawyers-Introduction-Your-Future/dp/019966806X/') Tomorrow&apos;s Lawyers
                    li
                      a(href='https://twitter.com/StanfordLaw/lists/abafutures') ABA Futures
                      |  and 
                      a(href='http://www.abajournal.com/legalrebels/article/welcome_to_the_future_a_travel_guide_to_tomorrows_lawyer_careers?utm_source=internal&utm_medium=navigation&utm_campaign=navbar') ABA Journal
                    li
                      a(href='http://radicalconcepts.com/wp-content/uploads/2015/01/Legal-Technology-Informatics_-Course-Reader.1.15.15.pdf') Ron Dolin&apos;s Legal Technology and Informatics Course Reader
                  p
                    b Smart Contract Implementations and Papers
                  ul.list-inline
                    li
                      a(href='http://www.ethereum.org/') Ethereum
                    li
                      a(href='http://counterparty.io/') Counterparty
                    li
                      a(href='http://smartcontract.com/') SmartContract
                    li
                      a(href='http://www.otonomos.com/') Otonomos
                    li
                      a(href='http://democracy.earth/') Democracy Earth
                    li
                      a(href='https://eprint.iacr.org/2015/460.pdf')
                        | Step by Step Towards Creating a Safe Smart Contract: Lessons and Insights from a Cryptocurrency Lab
                      |  by Delmolino, Arnett, Kosba, Miller, &amp; Shi
                    li
                      a(href='http://www.diku.dk/hjemmesider/ansatte/hvitved/publications/hvitved10flacosb.pdf') A Survey of Formal Languages for Contracts
                      |  from FLACOS 2010
                    li
                      a(href='http://www.diku.dk/~simonsen/papers/c2.pdf') Compositional Specification of Commercial Contracts
                    li
                      a(href='http://research.microsoft.com/en-us/um/people/simonpj/Papers/financial-contracts/contracts-icfp.pdf') Composing contracts: an adventure in financial engineering
                    li
                      a(href='http://www.diku.dk/~paba/pubs/files/bahr15icfp-paper.pdf') Certified Symbolic Management of Financial Multi-party Contracts
                    li
                      a(href='http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.36.4777&rep=rep1&type=pdf') The Representation of Legal Contracts
                      |  by Aspassia Daskalopulu and Marek Sergot, 1997
            .panel.panel-default
              #headingThree.panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='trye', aria-controls='collapseThree') Electronic Signatures and Contract Management
              #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                .panel-body
                  ul.list-inline
                    li
                      a(href='http://echosign.adobe.com/') Adobe EchoSign
                      |  is the well-respected granddaddy, modulo 
                      a(href='https://medium.com/@mengwong/why-after-a-year-with-adobe-echosign-i-m-taking-my-business-elsewhere-835cbd23d4a6') some grumpiness
                    li  Competititors include:
                    li
                      a(href='https://www.docusign.com/') DocuSign
                    li
                      a(href='https://www.hellosign.com/') HelloSign
                    li
                      a(href='http://getsigneasy.com/') SignEasy
                    li
                      a(href='http://scrive.com/') Scrive
                    li
                      a(href='https://digisigner.com/') DigiSigner
                    li
                      a(href='https://rightsignature.com/') RightSignature
                    li
                      a(href='https://www.silanis.com/') e-SignLive by Silanis
                    li
                      a(href='http://www.elock.com/solutions.html') E-Lock
                    li
                      | and 
                      a(href='http://digital-signature.softwareinsider.com/') dozens more (see the full list)
                  p
                    b Contract Lifecycle Management:
                  ul.list-inline
                    li
                      a(href='http://www.contractlogix.com/') Contract Logix
                    li
                      a(href='http://www.concordnow.com/') Concord Now
                    li
                      a(href='http://www.exari.com/') Exari
                    li
                      a(href='http://www.icertis.com/solution/') Icertis
            .panel.panel-default
              #headingFour.panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='trye', aria-controls='collapseFour') Unauthorised Practice of Law
              #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                .panel-body
                  p
                    | Wait, aren&apos;t a lot of these startups 
                    a(href='http://www.abajournal.com/magazine/article/latest_legal_victory_has_legalzoom_poised_for_growth') breaking the law
                    | ? Well, maybe the law is broken.
                  ul.list-inline
                    li
                      a(href='http://www.robotandhwang.com/') Robot, Robot &amp; Hwang
                    li
                      | 2016-03-31 letter from the 
                      a(href='http://www.americanbar.org/content/dam/aba/images/office_president/final_unregulated_lsp_entities_issues_paper.pdf') ABA Commission on the Future of Legal Services
                    li
                      a(href='https://www.questia.com/library/journal/1G1-75707100/when-public-policies-collide-legal-self-help-software') When Public Policies Collide: Self-Help Software and UPL
                    li
                      a(href='http://www.lawtechnologytoday.org/2015/06/technology-and-the-unauthorized-practice-of-law/') Technology and the Unauthorized Practice of Law
                    li
                      a(href='http://www.abajournal.com/magazine/article/latest_legal_victory_has_legalzoom_poised_for_growth') Latest legal victory has LegalZoom poised for growth
                    li
                      | In India, 
                      a(href='http://www.livemint.com/Companies/XqsAI5vIItPbA59gQ8H6KP/Law-firms-fight-to-protect-their-turf-against-accountants.html') Law firms fight to protect their turf from accountants
            .panel.panel-default
              #headingFive.panel-heading(role='tab')
                h4.panel-title
                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='trye', aria-controls='collapseFive') Other Links and Lists
              #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFuve')
                .panel-body
                  ul.list-inline
                    li
                      a(href='http://www.lawsitesblog.com/legal-tech-startups') Ambrogi&apos;s Legal Tech Startups list
                    li
                      a(href='http://tech.law.stanford.edu/') Discover Legal Technology
                      |  hosted by CodeX at Stanford, launched May 2016
                    li
                      a(href='https://blog.abevoelker.com/gitlaw-github-for-laws-and-legal-documents-a-tourniquet-for-american-liberty/') github for laws
                    li
                      a(href='http://lawyersongithub.com/') lawyers on github
                    li
                      a(href='http://opencounsel.net/services.php') Open Counsel
                      | , headed by 
                      a(href='http://aliquidnovi.org/about-2/') Andrew Rens
                      | , gets it.
                    li
                      a(href='https://startjeffreyup.wordpress.com/2014/01/09/where-are-the-legal-web-startups-in-asia/') Legal Web Startups in Asia
                      |  points to ex-Asia cases
    .container-fluid
      .middle-div
        .row
          .col-md-6.col-md-offset-3
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://youtu.be/PRiICM-nBIs')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='stylesheets/bootstrap-3.3.6-dist/js/bootstrap.min.js', charset='utf-8')
    script(src='https://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='javascripts/d3title.js')
    script(src='javascripts/companieshouse.js')
    script(type='text/javascript').
      var hello = !{myVar}; console.log(hello)